.home-buttons-cabecalho {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: baseline;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.favorite-home {
  font-size: 16px;
  color: #000;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 20px;
}

.home-notification {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 20px;
}

.home-button-login {
  background-color: #000;
  width: 107px;
  height: 40px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #000;
  mix-blend-mode: darken;
  border-radius: 15px;
  border-style: solid;
  color: #fafdfe;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
