* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

@font-face {
  font-family: "Lato";
  src: url(/Fontes/) format("truetype");
  /* Outros formatos de fonte podem ser adicionados aqui */
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.botao {
  display: flex;
  width: 218px;
  height: 61px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #037ca9;
  background: #fff;
}

.botao img {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.contbotao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  flex: 1 0 0;
}
.botao a {
  display: inline;
  color: #000;
  text-align: center;

  font-size: 18px;

  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  max-width: 125px;
}

.botao:hover {
  cursor: pointer;
}

.sem-quebra {
  white-space: nowrap;
}

.gbotoes {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #f5f5f5;
}

.header img {
  width: 127px;
  height: 99px;
}

.sessaocabecalho {
  display: flex;
  align-items: flex-start;
  gap: 21px;
}

.sessaocabecalho img {
  width: 39.328px;
  height: 39px;
}

.sessaocabecalho a {
  color: #000;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.botcabecalho {
  display: flex;
  align-items: center;
  gap: 9px;
}

.fazerLogin {
  display: flex;
  width: 107.9px;
  height: 39px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #000;
  cursor: pointer;
}

.fazerLogin a {
  color: #fff;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

header {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.botcabecalho a {
  text-decoration: none;
}

.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cpa {
  display: flex;
  height: 343px;
  padding: 48px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background-color: #037ca9;
  background-image: url(/assets/imagem-input.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.chamada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tittle {
  color: #fff;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sub {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cpa input {
  display: flex;
  width: 731px;
  height: 43px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  background-image: url(/assets/pino-de-localizacao\ 1.png);
  background-repeat: no-repeat;
  background-size: 43px;
  color: #000;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  padding-left: 43px;
  border: none;
}

.suggestions-container {
  position: flex;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

.data-comemorativa img {
  width: 300px;
  height: 250px;
  border-radius: 10px;
}
.data-comemorativa {
  display: flex;
  padding: 18px 50px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #f5f5f5;
}

.text-container {
  display: flex;
  height: 127px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.tittle-data-comemorativa {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sub-data-comemorativa {
  width: 954px;
  color: #000;
  text-align: justify;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bons-destinos-1 {
  display: flex;
  height: 384px;
  padding: 0px 15px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.bons-destinos-2 {
  display: flex;
  padding: 45px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.bons-destinos-texto {
  color: #000;

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.destinos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.imagem-1 {
  display: flex;
  width: 436px;
  height: 253px;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  border-radius: 10px;
  background: url(/assets/rio_imagem.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.imagem-2 {
  display: flex;
  width: 436px;
  height: 253px;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  border-radius: 10px;
  background: url(/assets/orlando_imagem.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.imagem-3 {
  display: flex;
  width: 436px;
  height: 253px;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  border-radius: 10px;
  background: url(/assets/gramado_imagem.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.imagem-destinos {
  width: 224px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  -webkit-text-stroke: 2px black;
}

.footer-home {
  display: flex;
  padding: 6px 33px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #037ca9;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.footer-cima {
  display: flex;
  align-items: center;
  gap: 200px;
  align-self: stretch;
}
.footer-baixo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1 0 0;
  align-self: stretch;
}

.footer-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
.footer-2 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  list-style-type: none;
}
footer h1 {
  color: #fdf9f9;

  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

footer a {
  color: #fff;
  text-align: center;

  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-self: stretch;
}
.footer-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
}

.footer-4 a {
  color: #fff;
  text-align: right;

  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.logo-footer {
  width: 128px;
  height: 78.077px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-baixo p {
  color: #fff;
  text-align: center;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

footer img {
  width: 48px;
  height: 48px;
}

.redes-sociais {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 26px;
}

/* Começo da estilização da página LOGIN */

.wrapper {
  width: 330px;
  padding: 2rem 1rem;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0);
}

.wrapper h1 {
  font-size: 2rem;
  color: #07001f;
  margin-bottom: 1.2rem;
}

.wrapper input {
  width: 92%;
  outline: none;
  border: 1px solid #28207d;
  padding: 12px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  background: #e4e4e4;
}

.wrapper input:focus {
  border: 1px solid rgb(192, 192, 192);
}

.wrapper i {
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  color: #3e3737;
}

.paginaCadastro {
  background: #f5f5f5;
}

.buttonCriarConta {
  font-size: 1rem;
  margin-top: 10px;
  padding: 10px 0px;
  border-radius: 20px;
  outline: none;
  border: none;
  width: 90%;
  color: #fff;
  cursor: pointer;
  background: #007bff;
}

.buttonCriarConta:hover {
  background: rgba(17, 107, 143, 0.877);
}

.terms {
  margin-top: 0.3rem;
}

.terms input {
  height: 2em;
  width: 1em;
  vertical-align: middle;
  cursor: pointer;
}

.terms label {
  font-size: 0.7rem;
}
.terms a {
  color: rgb(17, 107, 143);
  text-decoration: none;
}

.member {
  font-size: 0.8rem;
  margin-top: 1.4rem;
  color: #636363;
}

.member a {
  color: rgb(17, 107, 143);
  text-decoration: none;
}

.recover {
  text-align: center;
  font-size: 0.7rem;
  margin: 0.3rem 1.4rem 0 0;
}

.recover a {
  text-decoration: none;
  color: #464647;
}

.paginaCadastro i {
  font-size: 15px;
  cursor: pointer;
  position: absolute;
  color: #3e3737;
}

.senha {
  position: relative;
}

#btn-password {
  position: absolute;
  right: 20px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
}

.senha2 {
  position: relative;
}

#btn-password1 {
  position: absolute;
  right: 20px;
  top: 41%;
  transform: translateY(-50%);
  cursor: pointer;
}

.senha3 {
  position: relative;
}

#btn-repassword {
  position: absolute;
  right: 20px;
  top: 41%;
  transform: translateY(-50%);
  cursor: pointer;
}

.btnMenuCadastre {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.clickMenuCadastre {
  position: absolute;
  top: 0;
  left: 20px;
}

.error {
  border: 1px solid red;
}

.tittleRoteiro {
  display: flex;
  padding: 48px 0px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background-color: #037ca9;
}

.tittleRoteiro p {
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.tittle-roteiro-texto {
  font-size: 40px;
}

.subtittle-roteiro-texto {
  font-size: 32px;
}

.resumoRoteiro {
  display: flex;
  padding: 27px 50px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #f5f5f5;
  background-image: url(/assets/orlando_imagem.png);
  background-repeat: no-repeat;
  background-position: right;
}

.resumo-roteiro-texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.titulo-destino {
  color: #037ca9;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.descricao-destino {
  color: #000;
  text-align: justify;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 720px;
}

.dica-viagem-roteiro {
  display: flex;
  padding: 10px 100px 10px 50px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.texto-dica-viagem-roteiro2 {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 10px;
}

.dicas-lista-bullet {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px;
  position: initial;
}

.seu-roteiro {
  display: flex;
  padding: 15px 150px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}

.container-seu-roteiro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  align-self: stretch;
  border-radius: 10px;
  border: 10px solid #037ca9;
  background: #e8f9ff;
}

.dias-seu-roteiro {
  display: flex;
  padding: 20px 62px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 10px 10px 0px 0px;
  background: #037ca9;
}

.dia-especifico-roteiro {
  display: flex;
  padding: 7px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #fff;
  color: #037ca9;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.seu-roteiro-info {
  display: flex;
  padding: 15px 30px;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
  align-self: stretch;
}

.seu-roteiro-obs {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.seu-roteiro-obs p {
  color: #000;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.seu-roteiro-rotina {
  display: flex;
  justify-content: space-between;
  padding-right: 0px;
  align-items: center;
  align-self: stretch;
  margin-left: 40px;
}

.seu-roteiro-rotina2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 33px;
}

.botao-avancar-roteiro {
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 9px;
  background: #037ca9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dia-roteiro-seguinte {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.download-roteiro {
  display: flex;
  padding: 5px 150px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

.download-texto {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
}

.download-roteiro-pdf {
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  border-radius: 9px;
  background: #037ca9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.download-roteiro-pdf p {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.download-roteiro a {
  text-decoration: none;
}

.imagem-viagante {
  display: flex;
  margin: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
