* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  src: url(/Fontes/Lato-Bold\ -\ Copia.ttf) format("truetype");
  /* Outros formatos de fonte podem ser adicionados aqui */
}
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.botao {
  display: flex;
  width: 218px;
  height: 61px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #037ca9;
  background: #fff;
}

.botao img {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.contbotao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
  flex: 1 0 0;
}
.botao a {
  display: inline;
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  max-width: 125px;
}

.botao:hover {
  cursor: pointer;
}

.sem-quebra {
  white-space: nowrap;
}

.gbotoes {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  background: #f5f5f5;
}

.cabecalho {
  display: flex;
  margin-top: 39px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.cabecalho img {
  width: 127px;
  height: 99px;
}

.sessaocabecalho {
  display: flex;
  align-items: flex-start;
  gap: 21px;
}

.sessaocabecalho img {
  width: 39.328px;
  height: 39px;
}

.sessaocabecalho a {
  color: #000;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.botcabecalho {
  display: flex;
  align-items: center;
  gap: 9px;
}

.fazerlogin {
  display: flex;
  width: 107.9px;
  height: 39px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #000;
}

.fazerlogin a {
  color: #fafdfe;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 53px;
  flex-shrink: 0;
}

.botcabecalho a {
  text-decoration: none;
}

.fazerlogin a {
  text-decoration: none;
}

.cpa {
  display: flex;
  height: 343px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 69px;
  flex-shrink: 0;
  background-color: #037ca9;
  background-image: url(/assets/imagem-input.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.chamada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tittle {
  color: #fff;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Lato", sans-serif;
}

.sub {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-family: "Lato", sans-serif;
}

.cpa input {
  display: flex;
  width: 731px;
  height: 43px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  background-image: url(/assets/pino-de-localizacao\ 1.png);
  background-repeat: no-repeat;
  background-size: 43px;
  color: #000;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  padding-left: 43px;
  border: none;
}

.frame4 {
  width: 100vw;
  height: 364px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f5f5f5;
}

.frame3 {
  width: 100vw;
  height: 364px;
  background-image: url(/assets/neve_canada.jpg);
  background-repeat: no-repeat;
  background-size: 442px 364px;
  background-position: right;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: left;
  padding: 40px;
  margin-top: 5px;
  gap: 11px;
  max-width: calc(100% - 442px);
}

.tittle-data-comemorativa {
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sub-data-comemorativa {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 100;
}

.bons-destinos-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  flex: 1 0 0;
  align-self: stretch;
}

.bons-destinos-2 {
  display: flex;
  padding: 15px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
}

.bons-destinos-texto {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.destinos {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 25px;
}

.imagem-1 {
  display: flex;
  width: 436px;
  height: 253px;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  border-radius: 10px;
  background: url(/assets/rio_imagem.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
.imagem-1:active {
  background-color: steelblue;
}

.imagem-2 {
  display: flex;
  width: 436px;
  height: 253px;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  border-radius: 10px;
  background: url(/assets/orlando_imagem.png);
  background-repeat: no-repeat;
}

.imagem-3 {
  display: flex;
  width: 436px;
  height: 253px;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  border-radius: 10px;
  background: url(/assets/gramado_imagem.png);
  background-repeat: no-repeat;
}

.imagem-destinos {
  width: 224px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.footer-home {
  display: flex;
  height: 373px;
  padding: 6px 33px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  background: #037ca9;
}

.frame44 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.frame42 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.frame39 {
  display: flex;
  align-items: flex-start;
  gap: 122px;
  flex: 1 0 0;
  align-self: stretch;
}

.frame37 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.frame37 a {
  text-decoration: none;
}

.frame35 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.frame36 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.frame38 {
  display: flex;
  width: 361px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 6px;
  align-self: stretch;
}

.frame45 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1 0 0;
  align-self: stretch;
}

.frame40 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 26px;
  flex: 1 0 0;
  align-self: stretch;
}

.footer-chamada {
  color: #fdf9f9;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.footer-subchamada {
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.footer-chamada-final {
  color: #fff;
  text-align: right;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

.footer-texto-final {
  right: 50px;
  bottom: 0px;
  color: #fff;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
